*
{
  font-family: sans-serif, "Times New Roman", Arial
}
body
{
  margin-left: auto;
  margin-right: auto;
  width: 1024px
}
header
{
  text-align: center;
  font: 2em normal
}
#conteneur
{
  display: flex
}
nav
{
  font: 1.2em normal;
  padding: 12px;
  background-color: #eeeeee
}
section
{
  padding: 12px;
  text-align: justify;
  background: url("fond.jpg");
  margin-bottom: 12px;
  margin-left: 12px
}
p
{
  word-wrap: break-word
}
strong
{
  font-weight: bold
}
.flottante
{
  display: block;
  margin-left: auto;
  margin-right: auto
}
a
{
  text-decoration: none
}
li
{
  list-style-type: square
}
