*
{
  font-family: "Times New Roman", Arial, serif;
  padding: 12px
}
header
{
  text-align: center;
  font: 2em normal
}
#conteneur
{
  display: flex
}
nav
{
  font-size: 1.5em;
  border-right: 2px solid black
}
.flottante
{
  float: center
}
